html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,hr,a,abbr,address,cite,code,* {
    margin: 0;
    padding: 0;
}

article,aside,details,figcaption,figure,footer,header,hgroup,nav,section {
    display: block;
}

body {
    min-height: 1000px;

    background: url("../images/background.jpg") repeat-y center center;
}

body, input {
    color: #777;
    font-family: 'Verdana', 'Calibri', 'Arial',serif;
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 1.4;
}

._my_select {
    display: inline-flex;
    position: relative;
}

._my_select:after {
    position: relative;
    content: '';
    right: 32px;
    top: 1px;
    padding: 11px;
    background: url(../images/select_box_arrow.png) no-repeat;
    cursor: pointer;
    pointer-events: none;
}

select {
    position: relative;
    display: inline-block;
    background: #eaeaea;
    width: 150px;
    padding: 5px 8px;
    text-align: left;
    border-radius: 4px;
    border-top: 1px solid #c5c5c5;
    border-right: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
    border-bottom-style: hidden;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
}

button {
    position: relative;
    display: inline-block;
    background: #eaeaea;
    width: auto;
    padding: 8px 8px;
    text-align: left;
    border-radius: 20px;
    border-top: 1px solid #c5c5c5;
    border-right: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
    border-bottom-style: groove;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

input{
    display: inline-block;
    position: relative;
    background: #eaeaea;
    width: 135px;
    color: #434343;
    font-size: 12px;
    padding: 5px;
    border-radius: 4px;
    border-top: 1px solid #c5c5c5;
    border-right: 1px solid #dddddd;
    border-left: 1px solid #dddddd;

    bottom: 1px;
}

input[type='submit']{
    border-top: 1px solid #dddddd;
    border-right: 1px solid #c5c5c5;
    border-bottom: 2px solid #c5c5c5;
}




li{
    list-style-type: none;
}

p {
    padding: 5px 20px;
    text-align: justify;
    text-justify: inter-word;
}

._info_block {
    display: block;
    position: relative;
    top: 115px;
    margin: 0 auto;
    padding: 30px;
    width: 50%;
    height: inherit;
    margin-bottom: 40px;
}

._text_block {
    display: block;
    position: relative;
    margin: 15px;
    margin-top: 30px;
}