@page {
    size: A4;
    margin: 1cm;
}

._table
{
    display: table;
    width:100%;
    border-collapse:collapse;
    page-break-inside:auto;
}

._row
{
    display: table-row;
    text-align:right;
    page-break-inside: avoid;  
    page-break-after: auto;
}

._row._header
{
    display: table-header-group;
}

._table ._row:nth-child(odd)
{
    color:#000000;
    background-color:lightgray;
}

._cell, ._header
{
    border:1px solid gray;
    display: table-cell;
    padding-right: 25px;  
    padding:3px 7px 2px 7px;
}

._header
{
    text-align:center;
    padding-top:5px;
    padding-bottom:4px;
    background-color:darkgray;
    color:#ffffff;   
    
}

.totals ._cell, .totals._row .title
{
    border:1px solid gray;
    padding:3px 7px 2px 7px;
}

.totals ._row .title
{
    text-align:center;
    padding-top:5px;
    padding-bottom:4px;
    background-color:darkgray;
    color:#ffffff;
}

.totals ._row
{
    text-align:center;
}