html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,hr,a,abbr,address,cite,code,* {
    margin: 0;
    padding: 0;
}

article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{
    display: block
}

center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    background: transparent
}

body {
    font-family: 'Verdana', 'Calibri', 'Arial',serif;
    letter-spacing: -0.02em;
    font-size: 12px;
}

.search_results {
    padding: 30px;
    width: 720px;
    height: 282px;
    margin: 0 auto;
}

.search_results >._header{
    display: block;
    padding: 15px 4px;
    margin-bottom: 10px;
    border-bottom: 1px solid;
    border-color: red;
    font-size:20px;
}

#search_results_table {
    width: 100%;
    border-collapse: collapse;
}

#search_results_table td, #search_results_table th {
    border: 1px solid gray;
    padding: 3px 7px 2px 7px;
}

#search_results_table th {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: darkgray;
    color: white;
}

#search_results_table tr {
    text-align: center;
}

/*#search_results_table tr:nth-child(odd)
{
    color:#000000;
    background-color:lightgray;
}*/
